<table class="table table-bordered border-dark">
  <thead>
    <% if list.completed %>
      <tr class="table-success"> 
        <th scope="col">Complete</th>
      </tr>
    <% else %>
      <tr class="table-danger"> 
        <th scope="col">Incomplete</th>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% if list.completed %>
    <tr>
      <td class="table-secondary" style="text-decoration:line-through">
        <%= list.description %>
      </td>
    </tr>
    <% else %>
    <tr>
      <td class="table-secondary">
        <%= list.description %>      
      </td>
    </tr>
    <% end %>
 </tbody>
</table>