<h1>Editing list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Show this task", @list, class: "btn btn-dark" %> |
  <%= link_to "Back to tasks", lists_path, class: "btn btn-dark" %>
</div>
