
<br></br>
<br> </br>
<center>
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h2 class="card-title">Update Task</h2>
      <%= render "form", list: @list %>
    </div>
  </div>

  <br>

  <div>
    <%= link_to "Show this task", @list, class: "btn btn-dark" %> |
    <%= link_to "Back to tasks", lists_path, class: "btn btn-dark" %>
  </div>
</center>