<p style="color: green"><%= notice %></p>


<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this task", list, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New list", new_list_path %>
