
<br></br>
<br> </br>
<center>
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h2 class="card-title">New Task</h2>
      <%= render "form", list: @list %>
    </div>
  </div>
<br>

<div>
  <%= link_to "Back to Tasks", lists_path, class: "btn btn-dark" %>
</div>
